.footer{
    margin-top: 470px;
    background: #1A1A1A;
    z-index: 9999;
    display: flex;
    justify-content: space-around;
    padding: 75px 0 45px 0;
    position: relative;
}

.footer ul{
    list-style-type: none;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 215%;
}

.footer div:first-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.leftBlockWrapper{
    display: flex;
    flex-direction: row !important;
    justify-content: space-around;
    width: 85% !important;
}

.footer span{
    color: white;
    ont-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    width: 85%;
    margin-top: 30px;
}

.footer div:first-child div{
    display: flex;
}

.contacts{
    display: flex;
    width: 40%;
    justify-content: space-around;
}

.contacts ul{
    list-style-type: none;
    color: white;
}

.contacts ul li:first-child{
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 7px;
}

.contacts li img {
    margin-right: 8px;
}

.yellowBlock{
    background: #FFCC00;
    position: absolute;
    top: -330px;
    display: flex;
    width: 54%;
    padding-bottom: 80px;
}

.btn{
    background: transparent;
    padding: 20px 70px;
    border: 2px solid black;
    outline: none !important;
    cursor: pointer;
}

.phoneImageWrapper{
    position: relative;
}

.phoneImage{
    position: absolute;
    top: -200px;
}

#yellowBlockTitle{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 51px;
    color: black;
}

#yellowBlockAdditionalText{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 156.9%;
    color: #505050;
    margin-top: 25px;
    margin-bottom: 45px;
}
